<div class="provide-h20-form">
<input id="first_name" name="firstName" [(ngModel)]="model.firstName" class="inputTextCls" type="text" pInputText placeholder="First Name"/>
<input id="last_name" class="inputTextCls" name="lastName" [(ngModel)]="model.lastName" type="text" pInputText placeholder="Last Name" /><br>
<input id="dob" class="inputTextCls" name="dob" [(ngModel)]="model.dob" type="text" pInputText placeholder="Date of birth"/>
<input id="email" class="inputTextCls" name="email" [(ngModel)]="model.email" type="text" pInputText placeholder="Email"/><br>
<input id="mobile" class="inputTextCls" name="mobile" [(ngModel)]="model.mobile" type="text" pInputText placeholder="Mobile number"/><br>
<button pButton type="button" style="margin-top:50px;margin-left:50px;margin-right:50px;width:150px;" label="Signup" (click)="signup()"></button>
</div>
